* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* hamburger page section styling */
.close-ham-img {
  float: right;
  margin: 1rem 6% 0 0;
}

.hamburger-page {
  display: none;
  color: #fff5e1;
  background-color: #3c3a39;
  height: 93vh;
  width: 100%;
}

.hamb-page-elements {
  display: flex;
  margin: 5rem 9% 0 9%;
}

.hamb-page-elements .menu-inside-hamb-page a.ul-items::after {
  content: "";
  display: block;
  background-color: #6f6c6b;
  width: 80%;
  height: 2px;
  margin: 15px 0;
}

.ul-items {
  color: #fff5e1;
  text-decoration: none;
}

.menu-inside-hamb-page {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
}

/* black line style */
.blackline {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin: 2rem auto 0 auto;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.site-header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 36px 10px 27px;
}

.site-header a {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

footer .icon li img {
  color: #505f79;
}

.site-header .nav-menu .menu-list {
  display: none;
}

.site-header .nav-menu img {
  height: 26px;
  width: 26px;
}

.closeX {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1a19;
  background-image: url(./images/bgimg.png);
  background-repeat: no-repeat;
  background-position: 100% 70%;
  position: relative;
  height: 700px;
}

.container h1 {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 12px 0;
  overflow-y: hidden;
}

.container h3 {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 12px 0;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0 0;
  width: 315px;
}

.container .icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 81%;
}

footer .icon li {
  margin: 2vw;
}

.about .list li {
  font-family: "Inter", serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  list-style-type: none;
  margin-top: 15px;
}

.container .icon ul li {
  display: inline;
  padding: 10px;
}

.text {
  width: 80%;
  margin-top: 50px;
}

.work-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 327px;
  justify-content: center;
  gap: 2em;
  margin-top: 102px;
}

.work-container h2.title {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.work-container h2.title::after {
  content: "";
  display: block;
  background-color: black;
  width: 327px;
  height: 1px;
  margin: 30px 0 52px;
}

.work-container .feature-project {
  display: flex;
  flex-direction: column;
  width: 386px;
  align-items: flex-start;
}

.work-container .text-work {
  overflow-y: hidden;
}

.about h2 {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 24px 0;
}

.work-container .feature-project h2 {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 0;
}

.about p {
  width: 327px;
  height: 148px;
  left: 24px;
  top: 223px;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 0;
}

.work-container .feature-project p {
  font-family: "Inter", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  width: 327px;
  height: 147px;
}

.work-container .feature-project .phimg {
  width: 327px;
}

.work-container .feature-project .phimg img {
  width: 100%;
}

footer .icon ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

.work-container .feature-project .languages ul {
  display: flex;
  flex-direction: row;
}

.work-container .feature-project .languages ul li {
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin-right: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  width: 60px;
}

.work-container .feature-project .languages .bootstrap {
  width: 100px;
}

.about a {
  background: #ff6b00;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #030303;
  padding: 12px;
}

.work-container .feature-project a {
  background: #ff6b00;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #030303;
  margin: 10px 0;
  padding: 12px;
  display: inline-block;
}

.work-container .projects {
  display: grid;
  grid-template-columns: 320px;
  justify-content: flex-end;
  align-items: center;
}

.work-container .projects .project {
  display: flex;
  flex-direction: column;
  background-image: url("./images/prjimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  color: #fff;
  height: 386px;
  justify-content: flex-end;
  transition: transform 2s;
}

.work-container .projects .project h2 {
  font-family: "Crete Round", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #4f4f4f;
  margin-bottom: 5px;
  padding-left: 12px;
}

.work-container .projects .project p {
  font-family: Inter, serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  margin-bottom: 10px;
  padding: 0 12px;
}

.work-container .projects .project .languages ul {
  display: flex;
  justify-content: flex-start;
}

.work-container .projects .project .languages .project-language {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 0 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.work-container .projects .project .languages .project-language:nth-child(1) {
  margin-left: 12px;
}

.work-container .projects .project .project-btn {
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #030303;
  background: #ff6b00;
  margin-top: 15px;
  padding: 7px;
}

.about {
  background-color: #1c1a19;
  background-image: url("./images/bgimgabt.png");
  background-repeat: no-repeat;
  background-position: 100% 24%;
  padding: 75px 0;
  margin-top: 100px;
}

.about .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about .description {
  padding-left: 7vw;
  height: 725px;
  position: relative;
}

.about .description::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 125px;
}

.about .list img.rectangle-icon {
  height: 15px;
  width: 15px;
  margin: 0 7px;
}

.form h3 {
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 44px;
  color: #172b4d;
  margin: 100px 0 60px;
}

.about .list h3 {
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 20px;
}

.about .list img.square-icon {
  width: 12px;
  height: 12px;
  margin: 0 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 24px;
  border-bottom: 1px solid #dbd8d7;
}

.form form input {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  padding: 1vw;
  width: 95%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-top: 15px;
}

.form form textarea {
  padding: 1vw;
  border: none;
  font-family: "Inter", serif;
  font-size: 15px;
  background: #fbf8f7;
  margin-top: 24px;
  width: 96%;
}

#sub-btn {
  background: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #080808;
  width: 131px;
  padding: 12px;
  margin: 24px 1px 154px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Inter", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #979493;
}

textarea::placeholder {
  color: #3c3a39;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 992px) {
  .container {
    background-position: 100% 25%;
    background-image: url(./images/bgimgdesk.svg);
    background-repeat: no-repeat;
    height: 850px;
    overflow: hidden;
  }

  .blackline {
    display: none;
  }

  .container .icon ul {
    display: flex;
    flex-direction: column;
  }

  footer .dot {
    display: none;
  }

  .container .icon {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 26px;
  }

  .container h1 {
    font-size: 72px;
    line-height: 81.5px;
    width: 460px;
  }

  .site-header .nav-menu .menu-list {
    display: flex;
    font-family: "Inter", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
  }

  .site-header .nav-menu .menu-list li {
    margin: 10px;
  }

  .site-header .nav-menu .icon {
    display: none;
  }

  .text {
    margin-top: 0;
  }

  .container h3 {
    font-family: "Inter", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
  }

  .container p {
    font-family: "Inter", serif;
    font-size: 20px;
    overflow-y: hidden;
    line-height: 32px;
    height: 123px;
    width: 556px;
  }

  .site-header {
    height: 72px;
    padding: 10px 100px;
  }

  .work-container {
    justify-content: flex-start;
    grid-template-columns: none;
  }

  .about p {
    font-size: 20px;
    line-height: 32px;
    width: 566px;
  }

  .work-container .projects {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
    margin: 0 98px;
    row-gap: 30px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .work-container .projects .project:nth-of-type(2),
  .work-container .projects .project:nth-of-type(5) {
    background-image: url("./images/prjimg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .work-container .projects .project:nth-of-type(3),
  .work-container .projects .project:nth-of-type(6) {
    background-image: url("./images/prjimg3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .work-container .projects .project:nth-of-type(1) p,
  .work-container .projects .project:nth-of-type(1) h2 {
    display: none;
  }

  .work-container .projects .project:nth-of-type(1) {
    background-image: url("./images/projectimg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 2s;
  }

  .work-container .projects .project:nth-of-type(1):hover {
    transform: scale(1.5);
  }

  .about .description {
    background-image: url(./images/aboutbgimg.png);
    background-repeat: no-repeat;
    background-position: 100% 4%;
  }

  .about .list {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }

  .about {
    background-image: none;
  }

  .about .list ul {
    margin-left: 12px;
  }

  .about .description::after {
    width: 1156px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about a {
    font-size: 17px;
  }

  .form {
    flex-direction: row;
    margin: 130px 75px 40px 100px;
  }

  .form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .form h3 {
    font-size: 40px;
    line-height: 52px;
    margin-right: 26px;
    text-align: start;
    width: 90%;
    height: 256px;
    overflow-y: hidden;
    margin-top: 10px;
  }

  .work-container .feature-project {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .work-container h2.title::after {
    display: inline-block;
    width: 605px;
    margin-bottom: 11px;
    margin-left: 30px;
  }

  .feature-project .text-work {
    flex-direction: column;
    overflow: hidden;
    margin-left: 15px;
  }

  .work-container .feature-project h2.project-title {
    font-size: 40px;
    line-height: 52px;
    margin-top: 0;
  }

  .work-container .feature-project p.description {
    font-size: 20px;
    margin-bottom: 20px;
    overflow-y: hidden;
  }

  .work-container .feature-project .phimg {
    width: 600px;
  }

  .work-container .feature-project .languages ul {
    margin-bottom: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
  .work-container {
    width: 991px;
  }

  .work-container h2.title::after {
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .work-container {
    width: 1150px;
    margin: 120px auto;
  }
}

@keyframes slide {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}
